################################################################################
# COMPILATION

# ---------------------
# C
*.out
*.o
*.a

# ---------------------
# Config
Makefile
config.cache
config.log
config.status
autom4te.cache/
ltmain.sh

# ---------------------
checkcal

################################################################################
# CMake

build/

################################################################################
# VALGRIND
callgrind.out.*

################################################################################
# EMACS
*~
*\.#*

################################################################################
# VISUAL STUDIO CODE
.vscode/