################################################################################
# COMPILATION

# ---------------------
# C
*.out
*.o
*.a

# ---------------------
# Config
Makefile
config.cache
config.log
config.status

# ---------------------
checkcal

################################################################################
# VALGRIND
callgrind.out.*

################################################################################
# EMACS
*~
*\.#*

################################################################################
# VISUAL STUDIO CODE
.vscode/